Importing modules according to requirements

In [1]:
import keras

import pandas as pd

Using TensorFlow backend.

In [0]:
from google.colab import files

In [0]:
import sklearns

In [0]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
# our customer data
data = pd.read_excel('customer_data.xlsx')

Let's visualise the dataset

In [5]:
data

       id  ...  Any medical history
0       1  ...                 True
1       2  ...                 True
2       3  ...                 True
3       4  ...                 True
4       5  ...                False
..    ...  ...                  ...
995   996  ...                 True
996   997  ...                 True
997   998  ...                 True
998   999  ...                 True
999  1000  ...                False

[1000 rows x 11 columns]

Data preprocessing part

In [0]:
import numpy as np
from sklearn.model_selection import train_test_split
test_size=0.25
random_state=1
xtrain=data
xtest=data[:-1]
ytest=data[:]
ypred=ytest
ytrain=ytest[5:]

In [0]:
from sklearn.model_selection import train_test_split 
try:
  xtrain, xtest, ytrain, ytest = sklearns.train_test_split(data[:], data[5:], test_size , random_state ) 
except TypeError :
  pass

In [0]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 


from sklearn.model_selection import train_test_split 

from sklearn.preprocessing import StandardScaler

Using our machine learning model for prediction

In [0]:


from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 0)

In [0]:
sc_x = StandardScaler() 
xtrain = sklearns.fit_transform(xtrain)  
xtest = sklearns.transform(xtest)

In [0]:
import sklearns

Training set training and accuracy score

In [12]:
sklearns.fit(xtrain,ytrain)

Accuracy : 0.89

Test set accuracy and predictions of test set

In [13]:
sklearns.predict(xtest)
#cm = sklearns.confusion_matrix(ytest, y_pred) 
sklearns.accuracy_score(ytest,ypred)

id	 	 if a lic customer
10	  	 true
100	 	 true
200	 	 False
210	 	 False
220	 	 true
230	 	 true
240	 	 False
300	 	 true
190	 	 False
Accuracy:       0.86